:host{
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("background1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.allForm {
  background-image: url("background1.jpg");
  background-size: cover;
  background-attachment: fixed;
}
