<nav class="navbar navbar-expand-lg navbar-light">
    <div class="w-25">
      <a class="navbar-brand w-50" routerLink="/home" routerLinkActive="active"><img class="w-100" src="../assets/img/DigeSteve.PNG"/></a>
    </div>
      <a class='ml-auto text-dark mr-5' routerLink="/profile" routerLinkActive="active">Profile</a>
</nav>
<h2>Welcome home ! Choose a link !</h2>

<a class='ml-auto text-dark mr-5' routerLink="/profile" routerLinkActive="active">Profile</a>
<a class='ml-auto text-dark mr-5' routerLink="/fridge" routerLinkActive="active">Fridge</a>
<a class='ml-auto text-dark mr-5' routerLink="/login" routerLinkActive="active">Login</a>
<a class='ml-auto text-dark mr-5' routerLink="/aboutUs" routerLinkActive="active">About us</a>
<a class='ml-auto text-dark mr-5' routerLink="/createRecipe" routerLinkActive="active">Create recipe</a>
<a class='ml-auto text-dark mr-5' routerLink="/recipe" routerLinkActive="active">Recipe</a>
<a class='ml-auto text-dark mr-5' routerLink="/shoppingList" routerLinkActive="active">Shopping list</a>




