<nav class="navbar navbar-expand-lg navbar-light">
  <div class="w-25">
    <a class="navbar-brand w-50" routerLink="/home" routerLinkActive="active"><img class="w-100" src="../assets/img/DigeSteve.PNG"/></a>
  </div>
    <a class='ml-auto text-dark mr-5' routerLink="/profile" routerLinkActive="active">Profile</a>
</nav>

<form class="h-75">
  <div class="row mb-5">
    <div class="col-2">
      <div class="form-check ml-5">
        <input class="form-check-input" type="checkbox" value="" id="vegetarian">
        <label class="form-check-label" for="vegetarian">
          Vegetarian
        </label>
      </div>
      <div class="form-check ml-5 mt-3">
        <input class="form-check-input" type="checkbox" value="" id="vegan">
        <label class="form-check-label" for="vegan">
          Vegan
        </label>
      </div>
    </div>

    <div class="col-10">
      <div class="row">
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Name of the recipe">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Number of people">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Duration">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <textarea class="form-control" id="description" placeholder="Description" rows="4"></textarea>
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Photo...">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 ml-5 mr-2 row-w d-inline-block">
    <div class="col border border-w" id="div1">
      <div class="row mb-5">
        <div class="col-4">
          <input type="text" class="form-control" id="ingredient" placeholder="Research ingredient">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" id="quantity" placeholder="Quantity">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" id="unit" disabled>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-secondary mr-1 button-w" (click)="plus()">+</button>
          <button type="button" class="btn btn-secondary button-w" (click)="minus()">-</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-secondary mr-1" (click)="addBlock1()">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mr-5 ml-2 row-w d-inline-block">
    <div class="col border border-w">
      <div class="row">
        <div class="col-8">
          <textarea class="form-control" id="description" placeholder="Instruction" rows="4"></textarea>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-secondary mr-1">Add</button>
        </div>
      </div>
    </div>
  </div>

<div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
