<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="w-25">
    <a class="navbar-brand w-25" routerLink="/home" routerLinkActive="active"><img class="w-100" src="../assets/img/DigeSteve.PNG"/></a>
  </div>
    <a class='text-dark mr-5 ml-auto' [routerLink]="['/profile/', keycloak.getKeycloakId()]" routerLinkActive="active">Profile</a>
</nav>

<div class="allForm">
  <div class="col-2">
    <p class="h1 text-center display-4 font-weight-ligh text-white mt-5"> My Fridge </p>
  </div>

  <div class="d-flex flex-row">
    <div class="row mt-5 row-w d-inline-block ml-auto mr-auto">
      <div class="col border border-w mt-2 rounded">
        <div id="div1">
          <div class="row mb-5 mt-3 ml-auto row-marg">
            <div class="col-2.5">
              <input list="ingredients-choices" type="text" class="form-control" id="ingredient" placeholder="Research ingredient" (input)="addUnit($event)">
              <datalist id="ingredients-choices"></datalist>
            </div>
            <div class="col-2">
              <input type="text" class="form-control" id="quantity" placeholder="Quantity" (keypress)="handleKeyPress($event)">
            </div>
            <div class="col-2">
              <input type="text" class="form-control" id="unit" placeholder="Unit" disabled>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-secondary" (click)="plus()">+</button>
              <button type="button" class="btn btn-secondary" (click)="minus()">-</button>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-secondary" (click)="addBlock1()">Add</button>
            </div>
          </div>
        </div>
        <div id="div2">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div id="myData"></div>
  </div>
  <!-- <div class="text-center mt-40 pt-40">
    <button type="button" class="btn btn-light" (click)="sendData()">Finish</button>
  </div> -->

</div>
