<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" onclick="location.href='/home'"><img class="logo" src="../assets/img/DigeSteve.PNG"/></a>
    <a class='ml-auto profile' routerLink="/profile" routerLinkActive="active">Profile</a>
</nav>

<div>
    <h1 class='titre'> My fridge</h1>
</div>

<div>
    <nav class="navbar navbar-expand-lg navbar-light add">
        <span class="input-group-text" id="basic-addon1">c</span>
        <div class="col-xs-3">
            <input class="form-control" type="text"  placeholder="Research ingredient" aria-label="">
        </div>
        <div class="col-xs-1">
            <input class="form-control" type="text" placeholder="Quantity" aria-label="">
        </div>
        <div class="col-xs-1">
            <input class="form-control" type="text" placeholder="Unit" aria-label="">
        </div>
        <button type="button" class="btn btn-light">Add</button>
        <button type="button" class="btn btn-light">Add new ingredient</button>


    </nav>

</div>