<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" onclick="location.href='/home'"><img class="logo" src="../assets/img/DigeSteve.PNG"/></a>
    <a class='ml-auto profile' routerLink="/profile" routerLinkActive="active">Profile</a>
</nav>

<!-- <nav class='navbar navbar-toggleable-md navbar-light'>
<div>
    <img class="logo" onclick="location.href='/home'" src="../assets/img/DigeSteve.PNG"/> 
</div>
<div>
    <a class="mr-auto" routerLink="/profile" routerLinkActive="active">Profile</a>
</div>


</nav> -->


<div>
    <h1 class='titre'> My fridge</h1>
</div>