.logo {
    height: 200px;
    width: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.site-title {
	font-size: 26px;
	font-weight: 300;
	line-height: 54px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;
}