<img class="logo" src="../assets/img/DigeSteve.PNG"/>
<h2>Log in</h2>
<header class="site-header" role="banner">
	<div class="wrapper">
 	<a class="site-title" href="/"> Log in </a>
        <li><a routerLink="/aboutUs" routerLinkActive="active">About us</a></li>
        <li><a routerLink="/fridge" routerLinkActive="active">My fridge</a></li>
	</div>
</header>
<div>
	<!-- <a class="page-link" href="aboutUs"> About us</a> -->
<!--
  <label>Username:
    <input [(ngModel)]="loggin.username" placeholder="username"/>
  </label>
  <label>Password:
  <input [(ngModel)]="loggin.password" placeholder="password"/>
  </label>  -->
</div>
