<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="w-25">
    <a class="navbar-brand w-25" routerLink="/home" routerLinkActive="active"><img class="w-100" src="../assets/img/DigeSteve.PNG"/></a>
  </div>
    <a class='text-dark mr-5 ml-auto' [routerLink]="['/profile/', keycloak.getKeycloakId()]" routerLinkActive="active">Profile</a>
</nav>

<div class="allForm">
  <div>
      <p class="h1 ml-5 text-white">Recipe</p>
  </div>

  <div>
      <p class="h3 ml-auto text-white" id="name"></p>
  </div>


  <div class="d-flex flex-row">
    <div class="row mt-5 ml-5 mr-2 row-w d-inline-block">
      <div class="col border border-w" id="ingredients_listing">
        <div>
          <button type="button" class="btn btn-primary mr-1" (click)="add_shop_list()">Add Shop List</button>
        </div>
      </div>
    </div>
    <div>
      <p id="description"></p>
    </div>
    <div>
      <p id="people"></p>
      <p id=""></p>
    </div>

  </div>

  <div class="row mb-5">
    <div class="m-auto">
      <div class="row">

        <div class="col-3">
          <input type="text" class="form-control" id="people" placeholder="Number of people">
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="time" placeholder="Duration">
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="grade" placeholder="Grade">
        </div>
      </div>
      <div class="row mt-3">

      </div>
      <div class="row mt-5 mr-5 ml-2 row-w d-inline-block">
        <div class="col border border-w" id="comments_listing">
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-primary mr-1" (click)="add_comment()">Add Comment</button>
      </div>
      <div class="col-2">
        <input type="text" class="form-control" id="comment" placeholder="Comment">
      </div>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-primary mr-1" (click)="give_grade()">Give Grade</button>
  </div>
  <div class="col-2">
    <input type="text" class="form-control" id="new_grade" placeholder="Grade">
  </div>
  <div>
    <button type="button" class="btn btn-primary mr-1" (click)="do_it()">Do It</button>
  </div>

  <div class="d-flex flex-row">
    <div class="row mt-5 ml-5 mr-2 row-w d-inline-block">
      <div class="col border border-w" id="ingredients_listing">
        <div>
          <button type="button" class="btn btn-primary mr-1" (click)="add_shop_list()">Add Shop List</button>
        </div>
      </div>
    </div>

    <div class="row mt-5 mr-5 ml-2 row-w d-inline-block">
      <div class="col border border-w" id="instructions_listing">
      </div>
    </div>
  </div>
</div>
