.border-w {
  border-width: thick !important;
}

.button-w {
  width: 50%
}

.row-w {
  width: 50%;
}

.border-w {
  border-width: thick !important;
}

.button-w {
  width: 40%
}

.row-w {
  width: 45%;
}

.row-marg {
  margin-bottom: 13.5% !important;
}

.row-marg2 {
  margin-bottom: 6% !important;
}

.col-marg {
  margin-left: 4.5% !important;
}
